# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.EliteVA.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\somfi\Documents\GitHub\EliteAPI\EliteVA\.idea\.idea.EliteVA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
